[submodule "AppUpdater"]
	path = AppUpdater
	url = https://github.com/mxcl/AppUpdater
[submodule "Version"]
	path = Version
	url = https://github.com/mxcl/Version
[submodule "GitHubUpdates"]
	path = GitHubUpdates
	url = https://github.com/macmade/GitHubUpdates
[submodule "NG-Course"]
	path = NG-Course
	url = https://github.com/yuetsin/NG-Course
